.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  
  }
  
  .overlay::-webkit-scrollbar {
    display: none;
  }
  .overlay-content {
    position: relative;
    top: 20%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  .overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  .overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    /* background: #ddd; */
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .searchresult{
    margin-bottom:1pc;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    height: 20vh;
    width : 40vw;
    border: 2px solid white;
    color:white;
  }
  #schbtn{
    margin-left:4vw;
    margin-bottom:1pc;
  }
  .detailsfood{
    font-weight: bold;
    margin:auto;
  }
  